.top-footer {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #4E4E4E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.8rem;
  border-bottom: .1rem solid rgba(78, 78, 78, 0.2);

}

.main-footer {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.main-sub-footer {
  background: #1F1F1F;
  padding: 2.45rem 0;

}

.main-sub-footer-wrap {
  height: 100%;
  position: relative;
  padding-left: 12rem;
}

.to-top {
  position: absolute;
  width: 5.1rem;
  height: 5.1rem;
  left: 0;
  border-radius: 50%;
  background: white;
  top: -.2rem;
  z-index: 99;

  &:before {
    position: absolute;
    content: '';
    width: 1.2rem;
    height: .4rem;
    background: #F4364C;
    border-radius: 10px;
    transform: rotate(135deg);
    left: 50%;
    margin-left: -1rem;
    top: 50%;
    margin-top: -.2rem;
  }

  &:after {
    position: absolute;
    content: '';
    width: 1.2rem;
    height: .4rem;
    background: #F4364C;
    border-radius: 10px;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -.5rem;
    top: 50%;
    margin-top: -.2rem;
  }
}

.sub-list-info {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;


  li {
    height: min-content;

    p {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.rights-reserved {
  background: #131313;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;

  a {
    text-decoration-line: underline;

    /* white */

    color: #FFFFFF;
  }
}