.header-logo {
  width: 12.5rem;
  height: 4rem;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-wrap {
  display: flex;
  height: 9rem;
  align-items: center;
  border-bottom: .1rem solid rgba(78, 78, 78, 0.2);
  justify-content: space-between;
}

.city-link {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4E4E4E;

  .point {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.2rem;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      border: .4rem solid transparent;
      border-top: .4rem solid rgba(185, 185, 185, 0.5);
      border-radius: 0.5px;
      right: -1rem;
      top: .9rem;
    }
  }

  .point-svg {
    margin-right: 1rem;
  }
}

.city-choose {
  display: flex;
  align-items: center;
}

.list-header-item {
  font-weight: 300;
  font-size: 1.8rem;
  color: #4E4E4E;
}

.header-contacts-link {
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  &__marginc-content {
    margin-right: .7rem;
  }

  .phone {
    opacity: 0.3;
  }
}

.header-contacts-list {
  display: flex;

  li {
    display: block;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.basket-price {
  font-weight: 700;
  font-size: 1.6rem;

  .point {
    display: inline;
    font-weight: 300;
  }
}

.basket-link {
  display: flex;
  align-items: center;

  &__margin-price {
    margin-left: 1.5rem;
  }
}

.basket-pic {
  position: relative;
}

.basket-num {
  position: absolute;
  display: block;
  width: 1.7rem;
  height: 1.7rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -.5rem;
  top: -.8rem;
  border-radius: 50%;
  overflow: hidden;
  font-weight: 700;
  font-size: 1rem;
}

.btn-callback {
  background: #DA2328;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  display: block;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 1.3rem 2.4rem;
}

.btn-callback-header {
  display: flex;
  align-items: center;

  &__margin-content {
    margin-right: 1.3rem;
  }
}

.call-back-wrap {
  .phone {
    width: 1.8rem;
    height: 1.8rem;
    fill: #fff;
  }
}

.sub-header {
  padding: .65rem 0;
}

.sub-header-nav {
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: flex;
  justify-content: space-between;

  li {
    display: block;
    padding: 1rem;
  }



  .point {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      border: .4rem solid transparent;
      border-top: 0.4rem solid #DA2328;
      border-radius: 0.5px;
      right: -.5rem;
      top: 1.5rem;
      transition: .2s transform, top;
    }

    &:hover {
      .sub-nav-list {
        display: block;
      }

      &:before {
        transform: rotate(180deg);
        top: 1.2rem;
      }
    }

    .sub-nav-list {
      display: none;
      background: white;
      border-radius: 0px 0px 10px 10px;
      z-index: 2;
      position: absolute;
      top: 2.4rem;
      left: 0;
      padding-top: 1.5rem;
      min-width: 21.3rem;
      text-align: center;

      li {
        padding: 1.5rem 0;
      }
    }
  }
}