.root {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  &.card {
    background: #F6F6F6;

    .main-header {
      background: white
    }
  }
}

.wrapper {
  max-width: 124rem;
  width: 100%;
  margin: auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.breadcrumps {
  color: #B9B9B9;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
}

.breadcrumps-link {
  margin-right: 3.3rem;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: .1rem;
    height: 2.2rem;
    background: #B9B9B9;
    transform: rotate(15deg);
    right: -1.2rem;
    top: 50%;
    margin-top: -1.1rem;
  }

  &:last-child {
    margin-right: 0;

    &:before {
      display: none;
    }
  }
}