.modal {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0;
  max-width: 38rem;
  width: 100%;
  margin: auto;
  background: white;
}

.modal-wrap {
  padding: 3.5rem 2.5rem 2.7rem 3rem;
}

.headline-modal {
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1D2038;
}

.sign-modal-wrap {
  &__form-margin {
    margin-top: 1.6rem;
  }

  &__margin-sub {
    margin-top: 1.6rem;
    border-bottom: .1rem solid rgba(148, 152, 184, 0.25);
  }
}

.input-point {
  color: rgba(95, 97, 117, 1);
  font-size: 1.4rem;
  line-height: 2.3rem;
  padding-left: 1.6rem;
  width: 100%;
  background: #F7F7F8;
  border-radius: 12px;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.form-sign {
  .input-item {
    margin-bottom: 2.5rem;
  }

  &__margin-btn {
    margin-top: 2.5rem;
  }
}

.btn-sbmt {
  border: .2rem solid #8C93D6;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.sub-form-link-list {
  padding: 1rem 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-decoration-line: underline;
  color: rgba(140, 147, 214, 1);
}