.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._basket {
    	font-size:(32/10)*1rem;
    	width:(31/32)*1em;
    }
    &._home {
    	font-size:(27/10)*1rem;
    	width:(22/27)*1em;
    }
    &._phone {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    &._point {
    	font-size:(15/10)*1rem;
    	width:(15/15)*1em;
    }
    &._profile {
    	font-size:(11/10)*1rem;
    	width:(11/11)*1em;
    }
    &._soc1 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._soc2 {
    	font-size:(24/10)*1rem;
    	width:(25/24)*1em;
    }
    &._soc3 {
    	font-size:(24/10)*1rem;
    	width:(25/24)*1em;
    }
    &._soc4 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._sub1 {
    	font-size:(23/10)*1rem;
    	width:(17/23)*1em;
    }
    &._sub2 {
    	font-size:(19/10)*1rem;
    	width:(19/19)*1em;
    }
    &._sub3 {
    	font-size:(20/10)*1rem;
    	width:(24/20)*1em;
    }
}