.card-inner {
  &__padding-content {
    padding-top: 3.3rem;
  }
}

.card-inner-wrap {
  &__margin-content {
    margin-top: 3.9rem;
  }

  &__margin-detail {
    margin-top: 9.2rem;
  }
}

.product-main-description {
  display: flex;
  justify-content: space-between;

}

.product-description {
  max-width: 60.3rem;
  width: 100%;

  &__margin-content {
    margin-top: 9rem;
  }

  &__margin-btn {
    margin-top: 5rem;
  }

  &__margin-sublist {
    margin-top: 4rem;
  }
}

.product-headline {

  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: #131313;
}

.product-amount {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  background: #162345;
  /* Ui colour */

  border: 1px solid #162345;
  box-sizing: border-box;
  border-radius: 1rem;
  height: 4rem;
  display: flex;
  width: fit-content;

  button {
    color: #fff;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.amount-item {
  background: #fff;
  height: 100%;
  width: 3.5rem;
  padding-left: 1rem;
}

.old-price {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-decoration-line: line-through;
  color: #B9B9B9;
}

.actual-price {
  font-weight: 300;
  font-size: 4.2rem;
  line-height: 5.1rem;
  color: #131313;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price-item {
  margin-right: 2.4rem;
}

.product-link-btn {
  display: flex;
  align-items: center;
}

.product-link-item {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-radius: 1rem;
  width: 28.8rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;

  &:last-child {
    margin-right: 0;
  }

  &.basket-link {
    color: white;
    background: #162345;
  }

  &.fast-buy {
    background: transparent;
    color: rgba(19, 19, 19, 1);
    border: .1rem solid #162345;
  }

  .basket-svg {
    width: 2.3rem;
    height: 2.1rem;
    fill: white;
    margin-right: 1rem;
  }
}

.product-point {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.sublist-headline {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #131313;
  margin-top: 2rem;
}

.sublist-list {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #4E4E4E;

  li {
    p {
      margin-bottom: 1rem;
      position: relative;
      padding-left: 1.7rem;

      &:after {
        position: absolute;
        content: '';
        width: .5rem;
        height: .5rem;
        background: #162345;
        border-radius: 50%;
        top: .3rem;
        left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {}
  }
}

.product-sublist-item {
  max-width: 17rem;
  width: 100%;

  &__margin-social {
    margin-top: 1.5rem;
  }
}

.list-social {
  display: flex;

  li {
    margin-right: 1.7rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.product-sublist {
  display: flex;
  justify-content: space-between;
}


.slide-wrap {
  width: 54.8rem;
  height: 54.8rem;
  border-radius: 10px;
  background: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
}

.slider-product {
  width: 54.8rem;
}

.product-tabs-list {
  .tabs-list {
    background: white;
  }

  .tabs-link {
    width: 31rem;
    height: 6rem;

  }
}

.product-tabs-list {
  .tabs-content {
    margin-top: 8.8rem;
  }
}

.tabs-headline {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #131313;
}

.tabs-product-description {
  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #4E4E4E;
  }
}

.tabs-content-wrap {
  max-width: 81.6rem;
  width: 100%;
  margin: auto;

  &__margin-text {
    margin-top: 6rem;
    padding-bottom: 4rem;
  }
}

.rev-item {
  border-bottom: .1rem solid #B9B9B9;
  padding: 3rem .1rem;

  &:last-child {
    border-bottom: none;
  }
}

.rev-item-wrap {
  position: relative;
  max-width: 74rem;
  width: 100%;
  margin: auto;


}

.user-photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -7.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.user-info {
  .date-post {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .user-name {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .user-comment {
    font-size: 1.6rem;
    line-height: 2.6rem;
    word-break: break-all;
    padding-top: 2rem;
  }
}

.leave-review {
  max-width: 81.6rem;
  width: 100%;
  margin: auto;

  &__margin-form {
    margin-top: 2rem;
  }

}

.leave-review-headline {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: #131313;
}



.leave-review-form {
  margin-bottom: 5.5rem;

  .input-list {
    display: flex;
    align-items: center;
  }

  .input-item {
    margin-right: 3.1rem;

    .input-main {
      width: 39.3rem;
      height: 4.5rem;
      padding-left: 5.2rem;
    }

    .label-item {
      color: rgba(0, 0, 0, 0.539261);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.comment-wrap {
  .input-item {
    width: 100%;

    .input-main {
      width: 100%;
      height: unset;
      padding-top: 1.3rem;
      padding-left: 2.8rem;
      resize: none;
      word-break: break-all;
    }
  }
}

.comment-wrap {
  margin-top: 5.5rem;
}

.sbmt-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 4.3rem;

  button {
    background: #162345;
    border-radius: 1rem;
    width: 28.8rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  }
}