.main-banner-wrap {
  display: flex;
  justify-content: flex-end;

  &__content {
    padding-top: 7.6rem;
    padding-bottom: 8.4rem;
  }
}

.main-banner-info {
  color: #fff;
  font-family: 'Bebas', sans-serif;
}

.main-banner {
  position: relative;
}

.main-pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-banner-headline {
  font-weight: 700;
  font-size: 6rem;
  line-height: 6.5rem;
}

.banner-subheadline {
  font-weight: 400;
  font-size: 6rem;
  line-height: 5rem;
}

.main-banner-list {
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #fff;


  li {
    margin-bottom: 1.5rem;
    display: block;
    position: relative;
    padding-left: 3.5rem;

    &:after {
      position: absolute;
      content: '';
      width: 1.8rem;
      height: 1.8rem;
      background: url(/assets/img/done.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 0;
      top: 50%;
      margin-top: -.9rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main-info {
  &__margin-list {
    margin-top: 2rem;
  }

  &__margin-form {
    margin-top: 4rem;
  }
}

.label-item {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #fff;
  font-weight: 400;
}

.input-list {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.input-main {
  box-shadow: 10px 20px 45px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  border: 0.5px solid #B9B9B9;
  outline: none;
  background: #fff;
  display: flex;
  align-items: center;


  &::placeholder {
    color: #4E4E4E;
    opacity: 0.5;
  }
}

.banner-main-form {
  .input-list {
    display: flex;
  }

  .input-main {
    height: 4.5rem;
    width: 30.5rem;
    padding-left: 5.3rem;



    &::placeholder {
      color: #4E4E4E;
      opacity: 0.5;
    }
  }

  .input-item {
    margin-right: 2.5rem;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .label-item {
    display: block;
    padding-left: 2.4rem;
    margin-bottom: .5rem;
  }

  &__margin-btn {
    margin-top: 3.1rem;
  }
}

.sbmt-btn {
  background: #DA2328;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 2rem 4.2rem;
}

.main-use-info {
  font-family: 'Bebas', sans-serif;
  font-size: 5.4rem;
}

.used-headline {
  font-weight: 400;
}

.used-subtext {
  font-weight: 700;

}

.main-use {
  &__padding-content {
    padding-top: 8.5rem;
    padding-bottom: 18.6rem;
  }
}

.tabs-list {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #131313;
  display: flex;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  width: fit-content;
  border-radius: 1rem;

  li {
    width: 17.5rem;
    height: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.main-use-wrap {
  position: relative;
  &__marginc-content {
    margin-top: 4.3rem;
  }

  .tabs {
    max-width: 48.2rem;
    width: 100%;
  }
}

.use-prev-pic{
  position: absolute;
  right: 0;
  top: 6rem;
}

.tabs-link {
  cursor: pointer;
}

.v1 {
  &.active {
    background: #162345;
    color: #fff;
  }
}

.v2 {
  &.active {
    background: #E31E25;
    border-radius: 10px;
    color: #fff;
  }
}

.main-use-wrap {
  .tabs-content {
    margin-top: 3.7rem;
  }
}


::-webkit-scrollbar {
  width: 2px;
  height: 254px;
  background: #B9B9B9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #DA2328;
  border-radius: 6px;
}

.list-users {
  width: 100%;
  height: 28rem;
  overflow-y: scroll;



  li {
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list-user-item {
  position: relative;
  min-height: 5rem;

  p {
    font-weight: 400;
    font-size: 1.6rem;
    color: #131313;
    margin-left: 7.3rem;
  }
}

.num {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  font-size: 2rem;
  color: #162345;
}

.input-item {
  .phone {
    fill: #4E4E4E;
    position: absolute;
    bottom: 1.7rem;
    left: 2.1rem;
    width: 1.1rem;
    height: 1.1rem;
  }
}