.phone {
  width: 1.4rem;
  height: 1.4rem;
  fill: #131313;
}

.point-svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #131313;
}

.basket-svg {
  fill: #162345;
  width: 3.1rem;
  height: 3.1rem;
}

.home-svg {
  fill: #B9B9B9;
  width: 2.2rem;
  height: 2.7rem;

}

.sub-svg {
  width: 2rem;
  height: 2rem;
  fill: #162345;
}

.soc-svg{
  width: 2.3rem;
  height: 2.3rem;
  fill: #162345;
}